@{
    ViewData["PageTitle"] = "Giới thiệu";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="text-center">Thông tin về trang</h2>
            <h4>TatBlog</h4>
            <p>Đây là trang lưu trữ các bài Blog</p>
            <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
    </div>
</div>