@{
    ViewData["PageTitle"] = "Liên hệ";
}

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Liên hệ với chúng tôi</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Nếu các bạn có bất kỳ thắc mắc nào. Hãy liên hệ với chúng tôi bằng cách gửi thắc mắc đến cho chúng tôi ngay bên dưới!
        <br />Chúng tôi sẽ sớm giải đáp thắc mắc của các bạn!
    </p>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Tên của bạn:</label>
                            <input type="text" id="name" name="name" class="form-control">          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Địa chỉ email:</label>
                            <input type="text" id="email" name="email" class="form-control">     
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Tiêu đề:</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Nội dung:</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>   
                        </div>
                    </div>
                </div>
            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Gửi</a>
            </div>
            <div class="status"></div>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fa fa-map mt-4 fa-2x"></i>
                    <p>Chưa cập nhật</p>
                </li>

                <li>
                    <i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>Chưa cập nhật</p>
                </li>

                <li>
                    <i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>Chưa cập nhật</p>
                </li>
            </ul>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.2877902405253!2d108.44201621412589!3d11.95456563961217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317112d959f88991%3A0x9c66baf1767356fa!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyDEkMOgIEzhuqF0!5e0!3m2!1svi!2s!4v1633261535076!5m2!1svi!2s"
                    style="border:0; width:100%; height:360px" allowfullscreen="true" loading="lazy"></iframe>
        </div>
    </div>
    <div class="col-6">
        <div class="card-header">
        </div>
        <div class="card-body">
            
        </div>
    </div>
</section>